# Dependencies
node_modules/
.node_modules/

# Build outputs
/dist/
/build/

# Logs
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Env files
.env
.env.*.local

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/
